<a href="https://colab.research.google.com/github/NitishaJonnada/nitisha_INFO5731_Spring2023/blob/main/In_class_exercise_01_01242023_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/24/2023, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [1]:
# write your answer here
l = input("Enter a string: ") 
print("Length of the string is:", len(l))

Enter a string: nitisha
Length of the string is: 7

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [2]:
# write your answer here
def count_character(str):
    dict = {}
    for i in str:
        keys = dict.keys()
        if i in keys:
            dict[i] += 1
        else:
            dict[i] = 1
    return dict
print(count_character('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [3]:
# write your answer here
list = [1, 2, 3, 4, 5, 6, 7] 
total = sum(list) 
print("Sum of items in list:",total)

Sum of items in list: 28

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [4]:
# write your answer here
def character_change(str):
    character = str[0]
    str = str.replace (character, '$')
    str = character + str [1 : ]
    return str
print(character_change('restart'))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [5]:
# write your answer here
a = int(input("Enter a value: "))
b = int(input("Enter b value: "))
d = (1 + a/b)**3
S = 3.14 * d
print("S value is :", S)

Enter a value: 5
Enter b value: 7
S value is : 15.81900874635569

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [6]:
# write your answer here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {**dic1,**dic2,**dic3}  
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [8]:
# write your answer here
tuple = (1,2,3,4,5)
element = 5
if element in tuple:
    print("exists in tuple")
else:
    print("does not exist in tuple")

exists in tuple

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [9]:
# write your answer here
a = {3, 2, 1, 38, 25}
print(min(a))
print(max(a))

1
38

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [17]:
# write your answer here
import random

student_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

random.shuffle(student_list)

# Divide the students into groups
num_groups = 6
group_size = (len(student_list) + num_groups - 1) // num_groups
if group_size>6:
    group_size =6
elif group_size<4:
    group_size =4
    
groups = [student_list[i:i+group_size] for i in range(0, len(student_list), group_size)]

# Print the groups
for i, group in enumerate(groups):
    print("Group {}: {}".format(i+1, group))

Group 1: ['sk1390', 'sa1198', 'hy0232', 'kg0569', 'kg0470']
Group 2: ['nm0618', 'sk1386', 'av0659', 'jl1252', 'pr0353']
Group 3: ['fh0141', 'sk1313', 'aos0040', 'nv0234', 'sb1357']
Group 4: ['sg1297', 'sm1640', 'gn0108', 'ms1500', 'sm1907']
Group 5: ['ja0964', 'sk1458', 'dr0609', 'ak0934', 'vm0377']
Group 6: ['vb0218', 'ds0814', 'sc1229', 'bg0320', 'ak0956']

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [10]:
# write your answer here
def duplicate_element(num):
    num_set = set()
    no_duplicate = -1
    for i in range(len(num)):
      if num[i] in num_set:
            return num[i]
      else:
            num_set.add(num[i])
    return no_duplicate
print(duplicate_element([1, 2, 3, 4, 5]))
print(duplicate_element([1, 2, 3, 3, 2, 2, 4, 4]))

-1
3

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [14]:
# write your answer here
from datetime import date, timedelta
def sundays(year):
       date2 = date(year, 1, 1)       
       date2 += timedelta(days = 6 - date2.weekday())  
       while date2.year == year:
          yield date2
          date2 += timedelta(days = 7)
for sun in sundays(2020):
   print(sun)

2020-01-05
2020-01-12
2020-01-19
2020-01-26
2020-02-02
2020-02-09
2020-02-16
2020-02-23
2020-03-01
2020-03-08
2020-03-15
2020-03-22
2020-03-29
2020-04-05
2020-04-12
2020-04-19
2020-04-26
2020-05-03
2020-05-10
2020-05-17
2020-05-24
2020-05-31
2020-06-07
2020-06-14
2020-06-21
2020-06-28
2020-07-05
2020-07-12
2020-07-19
2020-07-26
2020-08-02
2020-08-09
2020-08-16
2020-08-23
2020-08-30
2020-09-06
2020-09-13
2020-09-20
2020-09-27
2020-10-04
2020-10-11
2020-10-18
2020-10-25
2020-11-01
2020-11-08
2020-11-15
2020-11-22
2020-11-29
2020-12-06
2020-12-13
2020-12-20
2020-12-27